* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

.welcome {
    background-image: url('img/Rectangle.png');
    background-size: cover;
    height: 780px;
}

header {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.header_logo {
    padding-left: 120px;
}

.logo_text {
    margin-left: 15.73px;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: #F7F7F7;
}

.menu {
    display: flex;
    width: 550px;
    margin-right: 120px;

}

.menu_ul {
    width: 50%;
}

li {
    list-style-type: none;
    display: inline;
    color: #F7F7F7;
    font-weight: 400;
    font-size: 23px;
    line-height: 60px;
}

nav li a {
    color: #F7F7F7;
    text-decoration: none;
}

.header_nav {
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-around;
}

.header_nav_btn {
    width: 120px;
    height: 50px;
    border: 2px solid #CD6326;
    border-radius: 5px;
    background: transparent;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #F7F7F7;
}

.header_nav_btn:hover {
    background-color: #CD6326;
}

.header_nav_btn:active {
    background-color: #8F5613;
    border: #8F5613;
}

.survival {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 110px;
}

.survival h1 {
    color: #CD6326;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
}

.survival_text {
    display: inline-block;
    width: 274px;
    height: 108px;
    margin-top: 51px;
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #F7F7F7;
}

.survival_btn {
    width: 160px;
    margin-top: 65px;
    margin-bottom: 240px;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
    background-color: #CD6326;
    padding: 16px 42px 16px 42px;
    border-radius: 5px;
    border: 0;
}

.survival_btn:hover {
    background-color: #E39128;
    border: #E39128;
}

.survival_btn:active {
    background-color: #8F5613;
    border: #8F5613;
}

.articles h2 {
    margin-top: 120px;
    width: 324px;
    height: 72px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
}

.articles h3 {
    margin-top: 20px;
    width: 332px;
    height: 36px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
}

.articles_slider {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articles_slider img {
    margin-left: 30px;
    margin-right: 30px;    
}

.articles_slider div {
    margin-left: 30px;
    margin-right: 30px;
}

.articles_slider_card1 {
    background-image: url("img/Deer.png");
    width: 300px;
    height: 360px;
}

.articles_slider h4 {
    margin-top: 250px;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #F7F7F7;
}

.articles_slider h5 {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
}

.articles_slider_card2 {
    background-image: url("img/Squirrel.png");
    width: 300px;
    height: 360px;
}

.articles_slider_card3 {
    background-image: url("img/Bird.png");
    width: 300px;
    height: 360px;
}

.notified {
    margin: 240px auto;
    text-align: center;
}

.notified h3 {
    font-weight: 400;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}

.notified_send {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.notified_send_email {
    width: 540px;
    height: 60px;
    font-size: 22px;
    border: 1px solid #000000;
    border-radius: 16px 0px 0px 16px;
    padding-left: 20px;
    font-weight: 400;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #666666;
}

.notified_send_submit {
    width: 120px;
    height: 60px;
    font-size: 22px;
    padding: 15px 35px;
    text-align: center;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 0px 16px 16px 0px;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    color: #F7F7F7;
}

.notified_send_submit:hover {
    background-color: #E39128;
    border: #E39128;
}

.notified_send_submit:active {
    background-color: #8F5613;
    border: #8F5613;
}

footer {
    height: 360px;
    background-image: url("img/footer.png");
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.footer_logo {
    padding-left: 120px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.footer_nav {
    width: 480px;
    height: 60px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.networks {
    display: flex;
    margin: 160px 120px 160px 0;
}

.networks div {
    margin-left: 25px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.networks_facebook {
    background: url("img/facebook.svg") no-repeat;
}

.networks_instagram {
    background: url("img/instagram.svg") no-repeat;
}
.networks_pinterest {
    background: url("img/pinterest.svg") no-repeat;
}
.networks_telegram {
    background: url("img/telegram.svg") no-repeat;
}

#popup_form {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 600px;
    background: #FCFCFC;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    z-index: 1;
}

#popup_form h2 {
    width: 480px;
    height: 70px;
    margin-bottom: 35px;
    left: 4px;
    top: 16px;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
}

#popup_form label {
    margin-left: 40px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #828282;
}

#popup_form input {
    margin: 0 40px 35px 40px;
    border: 0;
    border-bottom: 2px solid #D3D3D3;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

#popup_form input::placeholder {
    color: #BDBDBD;
}

#popup_form input:focus {
    outline: 0;
    border-bottom: 2px solid #D3D3D3;
}

#popup_form textarea {
    margin: 0 40px 35px 40px;
    width: 400px;
    height: 100px;
    border: 2px solid #D3D3D3;
    box-sizing: border-box;
}

.popup_form_btn {
    width: 400px;
    height: 65px;
    background: #E39128;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.popup_form_btn:hover {
    background-color: #CD6326;
    border: #CD6326;
}

.popup_form_btn:active {
    background-color: #8F5613;
    border: #8F5613;
}

.form-open {
    display: flex !important;
    position: absolute;
}

#popup {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

@media (max-width: 1200px) {
    .articles_slider_card1 {
        display: block;
    }

    .articles_slider_card2 {
        display: block;
    }

    .articles_slider_card3 {
        display: block;
    }

    .header_logo {
        padding-left: 80px;
        margin-right: 20px;
    }

    .footer_logo {
        margin-left: 80px;
        margin-right: 20px;
    }

    .menu {
        margin-right: 80px;
    }

    .networks {
        margin-right: 80px;
    }

    nav li {
        font-size: 20px;
    }

    .header_nav_btn {
        font-size: 20px;
        width: 96px;
        height: 40px;
    }

    .footer_nav li {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .articles_slider_card2 {
        display: none;
    }

    .articles_slider_card3 {
        display: none;
    }

    footer {
        display: block;
        height: auto;
    }

    .footer_logo {
        padding: 20px 0;
        margin: 0;
        justify-content: center;
    }

    .footer_nav {
        width: auto;
        margin: 0;
        display: block;
        text-align: center;
    }

    .footer_nav ul {
        margin: 0 40px;
    }

    .networks {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    header {
        display: block;
        text-align: center;
    }

    .header_logo {
        justify-content: center;
        margin: 0;
        padding: 20px 0;
    }

    .menu {
        margin: 0 20px;
        width: auto;
    }

    .survival {
        align-items: center;
        margin: 0;
    }

    .welcome {
        height: auto;
    }

    .survival_btn {
        display: inline;
    }

    .articles_slider div {
        margin-left: 5px;
        margin-right: 5px;
    }

    .articles_slider img {
        width: 20px;
        height: 20px;
    }

    .notified h3 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .notified_send_email {
        width: 450px;
        height: 50px;
        font-size: 20px;
        margin-left: 20px;
    }
    
    .notified_send_submit {
        width: 100px;
        height: 50px;
        font-size: 20px;
        padding: 10px 20px;
        margin-right: 20px;
    }

    #popup_form {
        width: 400px;
        height: 500px;
    }

    #popup_form h2 {
        width: 400px;
        font-size: 36px;
    }

    #popup_form textarea {
        width: 320px;
    }
    
    .popup_form_btn {
        width: 320px;
    }
}

@media (max-width: 420px) {
    .articles h2 {
        margin-top: 20px;
    }

    .articles_slider {
        margin-top: 20px;
    }

    .notified {
        margin: 120px auto;
        text-align: center;
    }

    .articles_slider img {
        margin-left: 10px;
        margin-right: 10px;
    }

    .notified_send_email {
        width: 200px;
        height: 40px;
        font-size: 20px;
        margin-left: 20px;
    }
    
    .notified_send_submit {
        width: 60px;
        height: 40px;
        font-size: 20px;
        padding: 5px 5px;
        font-size: 20px;
        margin-right: 20px;
    }

    #popup_form {
        width: 320px;
    }

    #popup_form h2 {
        width: 320px;
        font-size: 30px;
    }

    #popup_form textarea {
        width: 256px;
    }
    
    .popup_form_btn {
        width: 256px;
    }
}